<h1>New Workout</h1>

<%= form_with model: @workout, local: true, class: "form-group" do |form| %>
  <div class="mb-3">
    <%= form.label :exercise_type, class: "form-label" %>
    <%= form.text_field :exercise_type, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :duration, "Duration (minutes)", class: "form-label" %>
    <%= form.number_field :duration, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :date, class: "form-label" %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :notes, class: "form-label" %>
    <%= form.text_area :notes, class: "form-control", rows: 3 %>
  </div>

  <%= form.label :category, class: "form-label" %>
<%= form.select :category, options_for_select(['Cycling', 'Running', 'Strength Training', 'Yoga', 'Other'], @workout.category), { prompt: "Select Category" }, class: "form-control" %>


  <div class="mb-3">
  <%= form.label :instructions, "Instructions", class: "form-label" %>
  <%= form.text_area :instructions, class: "form-control", rows: 4 %>
</div>


  <%= form.submit "Create Workout", class: "btn btn-success" %>
<% end %>

<%= link_to "Back to Workouts", workouts_path, class: "btn btn-secondary mt-3" %>
