<h1>Workout Details</h1>

<p>Exercise Type: <%= @workout.exercise_type %></p>
<p>Duration: <%= @workout.duration %> minutes</p>
<p>Date: <%= @workout.date %></p>
<p>Notes: <%= @workout.notes %></p>

<%= link_to "Back to Workouts", workouts_path %>
