<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Fitness Tracker" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <div class="container">
    <% if flash[:notice] %>
      <p class="alert alert-success"><%= flash[:notice] %></p>
    <% elsif flash[:alert] %>
      <p class="alert alert-danger"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
  </div>
</body>

</html>
